@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --Paper: hsl(230, 89%, 62%) to hsl(230, 89%, 65%);
    --Rock: hsl(349, 71%, 52%) to hsl(349, 70%, 56%);
    --Scissors: hsl(39, 89%, 49%) to hsl(40, 84%, 53%);
    --HeaderOutline: hsl(217, 16%, 45%);
    --DarkText: hsl(229, 25%, 31%);
    --ScoreText: hsl(229, 64%, 46%);
    --Background: hsl(214, 47%, 23%) to hsl(237, 49%, 15%);
}
body{
    background: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.logo{
    width: 620px;
    padding: 20px;
    border: 4px solid var(--HeaderOutline);
    border-radius: 16px;
    background-color: rgba(82, 81, 80, 0);
    display: flex;
    justify-content: space-between;
}
.score{
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 200;
    font-size: 22px;
    color: var(--ScoreText);
    display: flex;
    width: 125px;
    height: 100px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.numero{
    font-size: 49px;
    font-weight: 700;
    color: var(--DarkText);
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: space-around;
    filter: blur(0px);
}
.conteudo{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(128, 128, 128, 0);
    width: 375px;
    height: 370px;
}
.opc{
    position: absolute;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    display: flex;
    box-shadow: inset 0px 5px 3px 0px rgb(110, 129, 164);
    background-color: #e2e2e2;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.opcStepDois{
    position: absolute;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    display: flex;
    box-shadow: inset 0px 5px 3px 0px rgb(110, 129, 164);
    background-color: #e2e2e2;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.bordaUm{
    position: absolute;
    left: 0%;
    top: 0%;
    border-radius: 50%;
    width: 170px;
    height: 170px;
    background-color: hsl(230, 89%, 62%);
    box-shadow: inset 0px -10px 2px 0px rgba(40, 40, 41, 0.329);
    display: flex;
    align-items: center;
    justify-content: center;
}
.bordaTres{
    position: absolute;
    top: 0%;
    right: 0%;
    border-radius: 50%;
    width: 170px;
    height: 170px;
    background-color: hsl(39, 89%, 49%);
    box-shadow: inset 0px -10px 2px 0px rgba(40, 40, 41, 0.329);
    display: flex;
    align-items: center;
    justify-content: center;
}
.bordaDois{
    position: absolute;
    bottom: 0%;
    border-radius: 50%;
    width: 170px;
    height: 170px;
    background-color: hsl(349, 71%, 52%);
    box-shadow: inset 0px -10px 2px 0px rgba(40, 40, 41, 0.329);
    display: flex;
    align-items: center;
    justify-content: center;
}
.bordaUmStepDois{
    position: static;
    left: 0%;
    top: 0%;
    border-radius: 50%;
    width: 210px;
    height: 210px;
    background-color: hsl(230, 89%, 62%);
    box-shadow: inset 0px -10px 2px 0px rgba(40, 40, 41, 0.329);
    display: flex;
    align-items: center;
    justify-content: center;
}
.bordaDoisStepDois{
    position: static;
    bottom: 0%;
    border-radius: 50%;
    width: 210px;
    height: 210px;
    background-color: hsl(349, 71%, 52%);
    box-shadow: inset 0px -10px 2px 0px rgba(40, 40, 41, 0.329);
    display: flex;
    align-items: center;
    justify-content: center;
}
.bordaTresStepDois{
    position: static;
    top: 0%;
    right: 0%;
    border-radius: 50%;
    width: 210px;
    height: 210px;
    background-color: hsl(39, 89%, 49%);
    box-shadow: inset 0px -10px 2px 0px rgba(40, 40, 41, 0.329);
    display: flex;
    align-items: center;
    justify-content: center;
}
.icone2{
    height: 80px;
    width: 72px;
}
.youPick{
    color: white;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 25px;
    letter-spacing: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    height: 300px;
    justify-content: space-between;
}
.theHousePicked{
    color: white;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 25px;
    letter-spacing: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    height: 300px;
    justify-content: space-between;
}
@keyframes mudarCor {
    0%{background-color: #7878784e;}
    100%{background-color: #3435353b;}
}
.buraco{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    /* background-color: #46464638; */
    animation-name: mudarCor;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction:alternate-reverse;


}
.conteudo2{
    display: none;
    height: 300px;
    width: 750px;
    justify-content:space-evenly;
    flex-direction: row;
    align-items: center;
}
.mensagemEPlayAgain{
    display: flex;
    height: 110px;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: rgb(247, 247, 247);

}
.mesage{
    font-size: 43px;
    cursor: default;
}
.playAgain{ 
    display: flex;
    height: 45px;
    width: 180px;
    border-radius: 10px;
    background-color: rgb(252, 252, 252);
    align-items: center;
    justify-content: center;
    color: var(--DarkText);
    cursor: pointer;
}
.playAgain:hover{
    color: hsl(349, 71%, 52%);
}
.regras{
    cursor: pointer;
    position: absolute;
    bottom: 0px;
    right: 0px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 200;
    font-size: 18px;
    letter-spacing: 2px;
    margin-right: 10%;
    margin-bottom: 2%;
    color: #ffffff;
    border: 1px solid white;
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
}
.regras2{
    display: none;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 25px;
    color: black;
    border: 1px solid white;
    padding: 21px 31px 31px 31px;
    border-radius: 10px;
    position: absolute;
    background-color: rgb(244, 244, 244);
}
.descr{
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.x{
    cursor: pointer;
    color: #999999;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .bordaFinal1{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: aqua;
  }
  .bordaFinal2{
    width: 230px;
    height: 230px;
    border-radius: 50%;
    background-color: rgb(13, 241, 161);
  }
  .bordaFinal3{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: rgb(60, 255, 0);
  }

  @media (max-width: 620px)
  {
    .logo{
        width: auto;
    }
    .conteudo2{
        width: auto;
    }
  }